.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .btn-go-home {
    padding: .5rem 1rem;
    border: 2px solid #000;
    border-radius: 15px;
    transition: .3s;
    &:hover {
      opacity: .7;
    }
  }
}
