header {
    background-color: #f8f9fa;
    padding: 1rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    a {
        max-width: 200px;
        text-align: center;
        @media (min-width: 768px) {
            max-width: none;
        }
    }
}

app-button-back {
    position: absolute;
    left: 1rem;
}