.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

h2 {
    text-align: center;
    margin: auto;
    margin-bottom: 2rem;
    padding: .5rem 1rem;
    border-radius: 10px;
    background-color: #07818C;
    color: white;
    width: fit-content;
}

.chart-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
}