
<main>
    <h2>Medals per Country</h2>
    <section class="cards">
        <app-card title='Number of JOs' [content]="nbrOfJOs() | json"></app-card>
        <app-card title='Number of Countries' [content]="medalsByCountries().length.toString()"></app-card>
    </section>
    <div *ngIf="errorMessage()" class="alert-error">
        <h3>Error</h3>
        <p>{{errorMessage() | json}}</p>
    </div>
    <section *ngIf="medalsByCountries().length > 0">
        <app-pie-chart [medalsByCountries]="medalsByCountries()" ></app-pie-chart>
    </section>
</main>
