
<main *ngIf="olympicByCountry">
    <h2>{{ olympicByCountry.country }}</h2>
    <section class="cards">
        <app-card title='Number of entries' [content]="olympicByCountry.participationCount.toString()"></app-card>
        <app-card title='Total number medals' [content]="olympicByCountry.medalsCount.toString()"></app-card>
        <app-card title='Total number of athletes' [content]="olympicByCountry.athletesCount.toString()"></app-card>
    </section>
    <section *ngIf="olympicByCountry.lineChartData" class="chart-container">
        <app-line-chart [medalsPerYear]="olympicByCountry.lineChartData"></app-line-chart>
    </section>
</main>
<main *ngIf="!olympicByCountry">
    <h2>
        No Olympic games found
    </h2>
    <button class="backToHome" routerLink="/">Back to home</button>
</main>
