.global-page, main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    max-width: 1200px;
    margin: auto;
}

// Global styles

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.17rem;
}

.bg-primary {
    background-color: #07818C;
}


/* You can add global styles to this file, and also import other style files */
